 @model Myket_Shop.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="/Account/Login" class="login-ds">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به مایکت استور</span>
                                </a>
                                <a href="#" class="register-ds active">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در مایکت استور</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ثبت نام در مایکت استور</h4>
                                    <form asp-action="Register">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                          <div class="form-account-title">
                                            <label asp-for="FullName" class="control-label"></label>
                                            <input asp-for="FullName" class="number-email-input" />
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="number-email-input" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="password-input" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label asp-for="RePassword" class="control-label"></label>
                                            <input asp-for="RePassword" class="password-input" />
                                            <span asp-validation-for="RePassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-row-account">
                                            <button type="submit" value="Create" class="btn btn-primary btn-register">ایجاد</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->
@section Scripts{
<partial name="_ValidationScriptsPartial"/>
}