
@{
    ViewData["Title"] = "ContactUs";
}
<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="contact-us">
                <div class="col-lg-9 col-md-9 col-xs-12 mx-auto">
                    <div class="contact-us-section">
                        <div class="contact-us-row">
                            <div class="contact-us-address-container">
                                <div class="contact-us-address-header">
                                    دفتر مرکزی
                                </div>
                                <div class="contact-us-address-text">
                                    استان تهران - شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸
                                </div>
                                <div class="contact-us-address-header">
                                    تماس با گارانتی
                                </div>
                                <div class="contact-us-address-text">
                                    برای پیگیری کالاهایی که با کارت گارانتی کالامارکت به فروش می رسند با شماره ۶۱۹۳۰۰۱۰−۰۲۱ تماس بگیرید
                                </div>
                                <div class="contact-us-address-header">
                                    ایمیل سازمانی
                                </div>
                                <div class="contact-us-address-text">
                                    info@kalamarket.com
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
